<!-- table -->

<!-- Structural Directive- *ngFor can apply directly in html to access  -->

<!-- transaction history -->

<div class="container w-50">
    <h1 class="text-white text-center">Transaction History</h1>
    <table class="border border-white w-25 container text-white">
        <thead>
            <tr class="border border-white">
                <td class="border border-white">Type</td>
                <td class="border border-white">amount</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of transaction" class="border border-white">
                <td class="border border-white">{{i.type}}</td>
                <td class="border border-white">{{i.amount}}</td>
            </tr>
            <!-- <tr class="border border-white">
                <td class="border border-white">DEBIT</td>
                <td class="border border-white">1000</td>
            </tr> -->
        </tbody>
    </table>

    <a routerLink="/dashbord">Home</a>
</div>